/****** Global Styles ******/

/* Color Codes 

Body Background--
white - #fff **

Content Background and hr tag--
casual gray - #f1f1f2 **

Content Tiles and Border Color--
london gray - #37474F   
border - #263238
-
nantucket red - #e8394d
border - #C62828
-
bermuda aqua - #80CBC4
border - #4DB6AC
-
georgia yellow - #FFE0B2
border - #FFD180

Text, Navigation Bar --
linen gray - #808285 **

Links--
material red - #B71C1C

*/

body {
	font-family: 'Quicksand', sans-serif;
	background: #fff;
	padding-top: 50px; 
}

a {all: unset;}
a {color: #1EAEDB; }
a:hover {color: #B71C1C;}

a.selected:link, a.selected:visited {
  color: #B71C1C;
	text-decoration: none;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #f1f1f2; }

/**************  NAVIGATION BAR CONTENT SECTION ***/


.navBar, .footerNav {
	font-size: 0.9em !important;
}

.nav--color {
	background: #808285;
	/*box-shadow: 2px 2px 2px rgba(183, 28, 28, 0.4); 
    -moz-box-shadow: 2px 2px 2px rgba(183, 28, 28, 0.4);
    -webkit-box-shadow: 2px 2px 2px rgba(183, 28, 28, 0.4);*/
}

.nav--logo {
	width: 30px; height: 30px;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.navBar--list {
	margin-bottom: 0;
	display: flex;
/* 	justify-content: flex-start;
  align-self: auto; */
}

.navBar--list > li {
	font-family: 'Lato', sans-serif !important;
	font-weight: 300 !important;
	list-style: none;
	text-decoration: none;
	display: inline-flex;
	padding: 0 !important;
}

.navBar--menu-link {
	color: #fff !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
} 

.navBar--menu-link:hover {
	color: #B71C1C !important;
} 

.navBar--menu-link:hover {
	border-bottom: #B71C1C solid 1.8px !important;
	position: relative;
	padding-bottom: 5px;
} 

.fa {
	color: #808285;
	padding: 0 !important;
}

.fa:hover {
	color: #B71C1C;
}


/**************  LANDING PAGE CONTENT SECTION  ***/

.landingPage {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}

.landingPage--background {
	background: #4DB6AC;
/* 	background: #fff; */
}

.landingPage--text {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	padding: 0 0 0 5em;
	margin-bottom: 0;
}

.landingPage--jumbo {
	font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  font-weight: 400i;
  letter-spacing: 1.2px;
}


/**************  FEATURED (PORTFOLIO) WORK SECTION  ***/


.content--box, 
.content--text, 
.content--subtitle {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content--background {
	background: #f1f1f2;
	height: 100%;
	padding: 10% 2%;
}

.content--text:hover, a:hover {
	text-decoration: none;
}


/* In Featured Work -- content display box shape and height */


.content--box {
	width: auto; height: 250px;
	border-radius: 3px;
	padding: 0;
	margin: 0;
	display: flex;
}

/* Content display box color and border dimensions */
.content--box--one {
	background: #37474F;
	border: 2px solid #263238;  
}
.content--box--two {
	background: #e8394d;
	border: 2px solid #C62828;
}
.content--box--three {
	background: #4DB6AC;
	border: 2px solid #26A69A;
}
.content--box--four {
	background: #FFE0B2;
	border: 2px solid #FFD180;
}
.content--box--five {
	background: #80CBC4;
	border: 2px solid #4DB6AC;
}
.content--box--six {
	background: #01579B;
	border: 2px solid #0D47A1;
}
/****** END ******/

.content--text {
  color: #fff;
	font-family: 'Lato', sans-serif;
  font-size: 1.5em;
	font-weight: 300;
  text-align: center;
}

.content--subtitle {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  padding-left: 0;
  margin-left: 0;
}


/**************  CONTACT / ABOUT ME INFO SECTION  ***/


.contactInfo {
	margin: 10em 0 5em 0;
}

.contactInfo--about, 
.contactInfo--skills {
	color: #808285;
	font-size: 1em;
	line-height: 25px;
}

.contactInfo--title {
	font-family: 'Lato', sans-serif !important;
	font-weight: 400 !important;
	font-size: 1.1em;
	list-style: square;
	letter-spacing: 1.7px;
}

.contactInfo--email {
	color: #808285;
	font-weight: 400;
	font-size: 1.3em;
	letter-spacing: 0.5px;
	border-bottom: 1px solid #f1f1f2;
	padding-bottom: 10px;
}

.contactInfo--email:hover {
	color: #B71C1C !important;
	text-decoration: none;
}

.contactInfo--list {
	margin-top: 3.5em;
	padding: 0;
}

.contactInfo--list > li {
	display: inline-flex;	
	padding-bottom: 10px;
}

.contactInfo--menu-icon {
/* 	padding-left: 1em !important; */
	padding-right: 2em !important;
}

/* .contactInfo--menu-icon:hover {
	padding: 0 1em !important;
	border-bottom: #B71C1C solid 1.8px !important;
	position: relative;
	padding-bottom: 10px !important;
} */

.fa {
	color: #808285;
}

.fa:hover {
	color: #B71C1C;
	position: relative;
	padding-bottom: 10px;
}


/**************  BACK TO TOP BUTTON  ***/


.returnBtn {
	text-align: center;
	color: #808285;
	display: block;
}

.returnBtn:hover {
	color: #B71C1C !important;
	text-decoration: none;
}


/**************  FOOTER NAVIGATION STYLES  ***/


.footerNav {
	padding: 0 0 2em 0;
}

.footerNav--copyright, 
.footerNav--links {
	color: #808285;
}

.footerNav--links:hover {
	color: #B71C1C !important;
	text-decoration: none;
}

.footerNav--list {
	padding-bottom: 0;
	margin-bottom: 0;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

.footerNav--list > li {
	list-style: none;
	display: inline-flex;
	padding: 0 1%;
	margin: 0 0 0 1.5%;
}


/**************  MEDIA QUERIES  ***/


@media (max-width: 768px) {

	.nav--logo {
/* 	display: flex;
	justify-content: flex-start; */
	flex-direction: row;
	margin-left: 2%;
	} 
  
/*   .nav--logo {
    margin-top: 2%;
  } */
	
	.landingPage--text {
		margin: 20% 0;
		padding-bottom: 0;
		padding-left: 0;
		text-align: center;
	}
  
  .content--columns {
    margin: 0;
    padding: 0;
  }
	
	.contactInfo {
		margin: 5em 0 1em 0;
	}
	
	.contactInfo--skills {
		margin-top: 5%;
		margin-left: 5%;
	}
  
  .footerNav--copyright {
    text-align: center;
  }
	
	.footerNav--list {
		display: none;
	}

}


