/****** Global Styles ******/

/* Color Codes 

Body Background--
white - #fff **

Content Background and hr tag--
casual gray - #f1f1f2 **

Content Tiles and Border Color--
london gray - #37474F   
border - #263238
-
nantucket red - #e8394d
border - #C62828
-
bermuda aqua - #80CBC4
border - #4DB6AC
-
georgia yellow - #FFE0B2
border - #FFD180

Text, Navigation Bar --
linen gray - #808285 **

Links--
material red - #B71C1C

*/

body {
	font-family: 'Quicksand', sans-serif;
	background: #fff;
}

a {
	text-decoration: none;
}


/**************  NAVIGATION BAR CONTENT SECTION ***/


.navBar, .footerNav {
	font-size: 0.9em;
}

.navBar {
  position: fixed;
  min-width: 100%;
	z-index: 9999;
	margin-bottom: 0;
}

.nav--color {
	background: #808285;
	/*box-shadow: 2px 2px 2px rgba(183, 28, 28, 0.4); 
    -moz-box-shadow: 2px 2px 2px rgba(183, 28, 28, 0.4);
    -webkit-box-shadow: 2px 2px 2px rgba(183, 28, 28, 0.4);*/
}

.navBar--list {
	padding-bottom: 0;
	margin-bottom: 0;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

.navBar--list > li {
	list-style: none;
	text-decoration: none;
	display: inline-flex;
	padding-bottom: 0;
	margin: 0 0 0 1.5%;
}

.navBar--menu-link, 
.navBar--menu-icon {
	color: #fff;
} 

.fa {
	color: #fff;
}

.fa:hover {
	color: #B71C1C;
}


/**************  LANDING PAGE CONTENT SECTION  ***/


.landingPage {
	background: #fff;
}

.landingPage--text {
	color: #808285;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	padding: 0 0 0 5em;
	margin-bottom: 0;
}

.landingPage--jumbo {
	font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  font-weight: 400i;
  letter-spacing: 1.2px;
}


/**************  FEATURED (PORTFOLIO) WORK SECTION  ***/


.content--box, 
.content--text, 
.content--subtitle {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content {
	margin: 0 auto;
}

.content--background {
	background: #f1f1f2;
	height: 100%;
	padding: 0 2%;
}

/* In Featured Work -- content display box shape and height */
.content--box {
	width: auto; height: 250px;
	border-radius: 2px;
	padding: 0;
	margin: 0;
	display: flex;
}

/* Content display box color and border dimensions */
.content--box--one {
	background: #37474F;
	border: 2px solid #263238;  
}
.content--box--two {
	background: #e8394d;
	border: 2px solid #C62828;
}
.content--box--three {
	background: #80CBC4;
	border: 2px solid #4DB6AC;
}
.content--box--four {
	background: #FFE0B2;
	border: 2px solid #FFD180;
}
/****** END ******/

.content--text {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.content--subtitle {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  padding-left: 0;
  margin-left: 0;
}


/**************  CONTACT / ABOUT ME INFO SECTION  ***/


.contactInfo--about, 
.contactInfo--skills {
	color: #808285;
	font-size: 0.95em;
}

.contactInfo--skills {
	padding-left: 2%;
}

.contactInfo--email {
	color: #808285;
	font-weight: 400;
	font-size: 1.2em;
}


/**************  BACK TO TOP BUTTON  ***/

.returnBtn {
	text-align: center;
	color: #808285;
	display: block;
}

/**************  FOOTER NAVIGATION STYLES  ***/


.footerNav--copyright, 
.footerNav--links {
	color: #808285;
}

.footerNav--list {
	padding-bottom: 0;
	margin-bottom: 0;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

.footerNav--list > li {
	list-style: none;
	display: inline-flex;
	padding: 0 1%;
	margin: 0 0 0 1.5%;
}


/**************  MEDIA QUERIES  ***/


@media (max-width: 550px) {

	.landingPage--text {
		margin: 20% 0;
		padding-bottom: 0;
	}

	.nav--logo {
	display: flex;
	justify-content: center;
	flex-direction: row;
	} 

	.navBar--list {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.landingPage--text {
	padding-left: 0;
	text-align: center;
}

}


