/****** Global Styles ******/

/* Color Codes 

material red - #B71C1C
bicycle red - #be1e2d
nantucket red - #e8394d
sandy ocean - #86cfcb
sandy beach - #eed8b3
dusky cement - #404041
easy gray - #67686b
medium gray - #808284

*/

* {
  padding: 0; margin: 0;
  font-family: 'PT Sans',   
  helvetica, sans-serif;
}

.container {
  width: 80%;
}


/****** HEADER NAVIGATION BAR STYLE ******/


.nav_bar {
  background: #be1e2d;
/*   background: #B71C1C; */
  position: fixed;
  padding: 1em;
  width: 100%; height: 1.5em; 
  margin: 0;
  z-index: 9999;
  box-shadow: 4px 4px 4px rgba(183, 28, 28, 0.3); 
    -moz-box-shadow: 4px 4px 4px rgba(183, 28, 28, 0.3);
    -webkit-box-shadow: 4px 4px 4px rgba(183, 28, 28, 0.3);
}

#btn3_contact {
  margin-right: 2.7em;
}

.flex_container {
  display: flex;
  justify-content: space-between;
}

  .home_logo, .right_nav {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .home_logo, 
  .nav_btn {
    color: #f1f1f2;
    font-size: 0.8em; 
  }

  .nav_list {
    list-style: none;
    display: flex; 
  }

    .nav_btn {
      margin-left: 1em;
    }

img {
  width: 25px; height: auto;
  margin-right: 0.5em; 
  padding: 0;
  margin-top: 0;
}


/****** LANDING PAGE STYLE ******/


.intro {
color: #67686b;
background: #f1f1f2;
background-image: url("../assets/unsplash_fogbay.jpeg");
background-size: cover;
background-repeat: no-repeat;
font-size: 1.5em;
padding: 11em 5em 17em 5em;
}

.jumbo {
  font-size: 1.7em;
  letter-spacing: 1px;
}


/****** PORTFOLIO SECTION STYLE ******/


.sample_work {
background: #e7e7e7; 
padding: 5em 0;
margin: 0 auto;
}

.cat_bar {
  height: 3em;
  background: #67686b;
}

/******** Portfolio Tiles */

.tile {
  width: 25rem; height: 25rem;
  margin: 1em;
}

.tile_icon {
  color: #fff;
  font-size: 1.5em;
  display: block;
  text-align: center;
  margin-top: 7.5em;
}

.subtitle {
  font-size: 0.6em;
  font-style: italic;
}

.left,
.right {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Left side tiles */
.one {
  background: #404041;
}
.two {
  background: #e8394d;
}

/* Right side tiles */
.three {
  background: #86cfcb;
}
.four {
  background: #eed8b3;
}


/****** CONTACT SECTION STYLE ******/


.contact {
/*   background: #f1f1f2;  */
  background: #fff;
  padding: 13em 12em 7em 12em;  
}

.blurb {
  color: #67686b;
  font-size: 1em;
  text-align: center;
  line-height: 1.6em;
  margin-bottom: 1em;
}

.e_mail {
  font-size: 1.2em; 
}

.e_mail:hover {
  color: #be1e2d;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: #f1f1f2;
  background: #be1e2d;
  font-size: 0.8em;
  margin: 4em 0.09em 6em 0.09em ;
  padding: 0.9em 2.5em;
  outline: 0;
  border : 0px;
  border-radius: 2px;
  box-shadow: none;
}

button:hover {
  background: rgba(190,30,45,0.6); 
}

.flex_contain {
  display: flex;
  justify-content: center;
}

.btm_navbar, .btm_nav {
  color: #67686b;
  list-style: none;
  text-align: center;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  padding: 0 0.5em;
  margin: 2em 0 0 0; 
}


/****** FOOTER SECTION STYLE ******/


.copy {
  color: #808080;
/*   background: #be1e2d; */
/*   background: #404041; */
  padding: 1em;
  text-align: left;  
}


/****** RESPONSIVE MOBILE STYLES ******/
/**************************************/

  @media screen and (max-width: 320px) {
    .intro {background-color: red;}
    
    .btm_nav {
      display: block;
    }
}




/****** SITE CREATOR INFO ******/

/*
  Title: Dana Thomas | Portfolio
  Description: Online Web and Design Portfolio
  Author: Dana Thomas
  Author URL: http://www.dnathoms.io/
  Tags: user interface, apparel, website
*/




